#!/bin/ksh
#
# $OpenBSD$

daemon="${TRUEPREFIX}/bin/prysm_beacon --config-file ${VARBASE}/prysm/config/beacon.yaml"
daemon_user="_prysm"
daemon_flags=""

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO

rc_start() {
	${rcexec} "${daemon} ${daemon_flags} 2>> ${VARBASE}/prysm/beacon.log"
}

rc_cmd $1
