#!/bin/ksh
#
# $OpenBSD$

daemon="${TRUEPREFIX}/bin/lighthouse beacon_node"
daemon_user="_lighthouse"
daemon_flags=""

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO

rc_start() {
	${rcexec} "${daemon} ${daemon_flags} 2>> ${VARBASE}/lighthouse/beacon.log"
}

rc_cmd $1
